html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

}
blockquote, q {
  quotes: none;
}

body {
  background-color: #00a0D1;
  font-family: "Helvetica-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Arial, sans-serif;
  font-size: 11pt;
}

body{
  max-width: 350px;
  min-width: 350px;
}

::selection { background: 0182a9; }

a {
  color: #454545;
  text-align:left;
}

p {
  color: #fff;
  text-align:left;
}

p strong{
  font-weight: bold;
}

h1, h2, h3 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 12pt;
  font-weight: lighter;
  text-align:left;
  letter-spacing:.05em;

}

h1 {
  color:#00a0D1;
}

h2, h3{
  color: #fff;
}

h3 {
  padding-top: 3pt;
  padding-bottom: 8pt;
}

form{
  color: #fff;
  font-weight: bold;
}

.forminput{
  width: 300px;
  height: 15pt;
  margin-top: 6px;
}

.formsubmit{
  float: right;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  margin-top: 10px;
  margin-right: 4px;
}

.pad{
  padding: 20px;
}

.inline{
  display: inline;
}

.main{
  text-color: #fff;
  font-weight: bold;
}

.floatleft{
  float:left;
}

.floatright{
  float:right;
}

.tab{
  margin-left: 40px;
}

.half-line {
  line-height: .5em;
}

.inset{
  padding-left: 20px;
}

.LoadingContent{
  padding: 0px;
  height: 10px;
  line-height: 10px;
  vertical-align: middle;
  text-align: center;
}

.LoadingContainer{
  height: 380px;
  width:310px;
}

.Logo{
  height:20pt; 
  vertical-align: middle;
  margin-bottom: 7pt;
  float: right;
}

.TopBanner h2{
  color: #90ed7d;
}

.TopBanner {
  background-color: #fda500;
  height: 30pt;
  line-height: 30pt;
  vertical-align: middle;
  text-align: center;
}

.TopBar {
  background-color: #454545;
  padding: 0;
  height: 30pt;
  line-height: 30pt;
  vertical-align: middle;
  text-align: center;
}

.TopBar a {
  color: #454545;
}

.TopBar p {
  color: fff;
  font-size: 11pt
}

.Graph{
  background-color: #fff;
/*  height: 344px;*/
  padding: 10px;
}

.Graph p{
  color: #454545;  
}

.Graph ol{
  color: #454545;
  padding-left: 50px;
}

.Sector{
  color: #00a0D1;
  weight: bold;
}

.Company{
  color: #454545;
  font-weight: bold;
}

#BodyCompany, #BodySector {
  display: inline;
  color: #fff;
}

#GraphCompany{
  display: inline;
  color: #454545;
  font-weight: bold;
}

#GraphSector {
  display: inline;
  color: #00a0D1;
  font-weight: bold
}

#RelSector, #RelTotal{
  padding:5px;
  width: 120px;
  height: 120px;
  /*border: 2px solid;*/
  margin: 0 auto;
}

.TopScores{
  clear: both;
}

#TopScore1, #TopScore2, #TopScore3 {
  color: #00a0D1;
}

#CompanyName{
  color: #454545;
  font-weight: bold;
}

#CompanyPosition{
  color: #454545;
  font-weight: bold;
}

#SectorTotal{
  color: #454545;
  font-weight:bold;
}

#Change{
  color: #fda500;
  font-weight: bold;
}

#ChangeValue{
  color: #454545;
  font-weight: bold;
}

.Closer{
  clear: Both;
  text-align: right;
}

input[type=submit] {padding:6px 30px; background:#454545; border:0 none;
-webkit-border-radius: 5px;
border-radius: 0px; }

#no-data, #loaded {
  display: none;
}